In [44]:
# importing packages
import math
import numpy as np
import pandas as pd

In [45]:
# for importing the dataset as a numpy array
dataset1 = pd.read_csv(r"covid_dataset.csv")
dataset1 = dataset1[dataset1['location'] == 'India']
# dataset1 = dataset1.to_numpy()
dataset2 = pd.read_csv(r"changes-visitors-covid.csv")
dataset2 = dataset2[dataset2['Entity'] == 'India']
# dataset2 = dataset2.to_numpy()
# dataset3 = pd.read_csv(r'continuous_attribute_table.csv')
# dataset4 = pd.read_csv(r'pure_category.csv')

In [46]:
dataset = pd.merge(dataset1, dataset2, on = 'date', how = 'inner')

In [47]:
#select specific columns
selected_dataset = dataset[['date','retail_and_recreation','grocery_and_pharmacy','residential','transit_stations','parks','workplaces','new_cases']]

In [48]:
selected_dataset.head()

,date,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces,new_cases
0,17-02-2020,0.667,1.667,0.000,2.000,3.000,3.000,0.0
1,18-02-2020,0.500,1.750,0.000,2.000,3.250,3.000,0.0
2,19-02-2020,0.400,1.800,0.200,1.800,2.800,3.200,0.0
3,20-02-2020,0.500,2.000,0.000,2.333,3.167,3.333,0.0
4,21-02-2020,-0.143,1.714,0.714,1.429,3.571,0.143,0.0

In [49]:
new_cases = selected_dataset[['new_cases']].to_numpy()

In [50]:
new_cases = new_cases.reshape((new_cases.shape[0],))

In [51]:
new_cases = sorted(new_cases)

In [52]:
mn = new_cases[0]
mx = new_cases[len(new_cases) - 1]
print('Min=', mn, 'Max=', mx)

Min= 0.0 Max= 414188.0

In [53]:
INTERVAL = 1000

In [54]:
for i in range(len(new_cases)):
    new_cases[i] = int(new_cases[i] / INTERVAL)

In [55]:
# new_cases

In [56]:
classes = pd.DataFrame({
    'new_cases_classes': new_cases
})

In [57]:
prefinal_dataset = pd.concat([selected_dataset, classes], axis = 1)

In [58]:
final_dataset = prefinal_dataset.drop(['new_cases','date'], axis = 1)

In [59]:
final_dataset

,retail_and_recreation,grocery_and_pharmacy,residential,transit_stations,parks,workplaces,new_cases_classes
0,0.667,1.667,0.000,2.000,3.000,3.000,0
1,0.500,1.750,0.000,2.000,3.250,3.000,0
2,0.400,1.800,0.200,1.800,2.800,3.200,0
3,0.500,2.000,0.000,2.333,3.167,3.333,0
4,-0.143,1.714,0.714,1.429,3.571,0.143,0
...,...,...,...,...,...,...,...
466,-61.714,-25.000,24.143,-49.143,-41.000,-45.429,401
467,-61.286,-24.429,23.714,-48.714,-40.000,-44.571,401
468,-61.143,-24.714,23.714,-49.000,-39.143,-44.286,403
469,-60.143,-23.429,23.286,-48.286,-38.000,-43.429,412
470,-58.714,-21.143,22.714,-47.000,-36.571,-42.429,414

In [60]:
final_dataset.to_csv('processed_covid_data.csv', index = False)